@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Yeseva+One&display=swap');

body {
  background-image: url(./images/backgroud.jpeg);
}

.header {
  margin: auto;
  width: 300px;
  height: 300px;
  background-image: url(./images/lv_0_20220928230728.mp4);
  background-size: cover;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  left: 300px;
  background-color: #000;
}

.main {
  width: 80%;
  height: 100%;
  margin: auto;
  border: solid 1px #000;
  padding: 20px;
}

.foto1 {
  height: 300px;
  width: 300px;
}

h1,
h2,
h3 {
  font-family: 'Yeseva One', serif;
  font-weight: bold;
  text-align: center;
}



p {
  font-family: 'Arapey', cursive;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 2rem;
}

div {
  text-align: center;
}

.foto-final {
  width: 13rem;
  height: 150px;
  float: left;
  margin-right: 90px;
}

.final {
  position: relative;
}

@media (max-width: 70px) {
  .foto-final {
    width: 800rem;
    float: left;
    margin-right: 80px;
  }
}